.app{
    height: 100%;
    background: #f7f7f7;
}
.head {
    padding: 4.2667vw;
    font-size: 4.2667vw;
    display: flex;
    justify-content: flex-start;
    background: #fff;
  }
  .head img {
    width: 3.6667vw;
    height: 5.2667vw;
  }
  .head h1 {
    margin: 0 auto;
    font-size: 4.2667vw;
    font-weight: bold;
  }
  .geren{
      margin: 4.8vw;
      width: 54vw;
      border-radius: 11.6667vw;
      background: #f7fcff;
  }
  .geren p{
    font-size: 2.6667vw;
    color: #dee0e3;
    padding: 4vw;
  }
  .user{
    background: #fff;
    border-radius:3.3333vw;
    width: 93.3333vw;
    margin-left: 3vw;
    margin-bottom: 2vw;
}
.user1{
    height: 16vw;
    display:flex;
    justify-content: space-between;
}

.userimg img{
    margin: 2.4vw 0 0 3.6667vw;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background: #333;
}
.userinfo{
    margin: 0 0 0 -27.3333vw;
}
.username{
    margin-bottom:2.3333vw;
    font-size: 3.8667vw;
}
.time{
    font-size:3.8vw;
    color: #bdc2cc;
}
.top{
    width: 15.3333vw;
    height: 7.6vw;
    border: 0.2667vw solid #ff9197;
    border-radius: 29%;
    text-align: center;
    line-height: 7.6vw;
    color: #ff9197;
    margin: 6.5333vw 3.2vw 0 0;
    font-size: 3.8vw;
}
.user2{
    padding: 5.3333vw;
}
.headline{
    font-size:4.1vw;
    font-weight:bold;
    margin-bottom: 2vw;
}
.content{
    font-size:4.1vw;
    display: -webkit-box;
    max-height: 11vw;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
}
.userbot{
    display: flex;
    justify-content: space-between;
}
.userbot ul{
    width: 67.3333vw;
    display: flex;
    justify-content: space-between;
    padding-bottom:2.6667vw;
}
.userbot li{
    height: 5.3333vw;
    width: 25%;
    text-align: center;
    font-size: 3.2667vw;
    color: #a2a7b2;
}
.userbot li img{
    width: 3.2667vw;
    height: 3.2667vw;
}
.more{
    margin-right: 7vw;
    margin-top: -1vw;
}
.userbot span{
    line-height: 5.3333vw;
}
.user3{
    width: 53.3333vw;
    padding: 5.6667vw 5.6667vw 0 5.6667vw;
    margin-bottom: 9.6667vw;
}
